# Compiled class files
*.class
*.jar
*.war
*.ear

# Log files
logs/
*.log
*.out

# OS-specific files
.DS_Store
Thumbs.db

# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
gradle-app.setting

# IDE 관련
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Spring Boot 환경 설정 파일 (보안 유지를 위해 제외 가능)
application*.yml
application*.yaml
application*.properties
.env

# QueryDSL 관련
build/
out/
src/main/generated/

# React 관련
node_modules/
npm-debug.log
yarn-error.log
.yarn/
.pnp/
.pnp.js

# 환경 변수 및 민감 정보
.env
.env.local
.env.development
.env.test
.env.production